@using MIDIPianoJukebox.Data

<div class="tagList">
    @{
        var last = Tune.Tags.Count - 1;
        var comma = ", ";
        foreach (var item in Tune.Tags.Select((tag,i) => new { tag, delim = i < last ? comma : string.Empty }))
        {
            <a href="@($"/tag/{item.tag}")" class="tagLink">@item.tag</a>@(item.delim)
        }
    }
</div>
@code {
    [Parameter]
    public Tune Tune { get; set; }
}
