<div class="alphaList">
    <a href="@(Path)" class="alphaLink">ALL</a>
    @foreach (var start in "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ")
    {
        <a href="@($"{Path}?start={start}")" class="alphaLink">&nbsp;@start</a>
    }
</div>

@code {
    [Parameter] public string Path { get; set; }
}