.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.top {
    vertical-align: top;
}

.scrollable50 {
    height: 50vh;
    overflow-y: scroll;
}

.scrollable70 {
    height: 70vh;
    overflow-y: scroll;
}

.justify-right {
    text-align: right;
}

.float-right {
    float: right;
}

.center {
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.navItem {
    height: unset !important;
    margin-top: unset !important;
    margin-bottom: 2px !important;
}

.topLabel, .tagList {
    font-size: smaller;
    color: #444;
}