.loading {
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.top {
    vertical-align: top;
}

.scrollable50 {
    height: 50vh;
    overflow-y: scroll;
}

.scrollable70 {
    height: 70vh;
    overflow-y: scroll;
}

.justify-right {
    text-align: right;
}

.float-right {
    float: right;
}

.center {
    text-align: center;
}

.navItem {
    height: unset !important;
    margin-top: unset !important;
    margin-bottom: 2px !important;
}

.topLabel, .tagList {
    font-size: smaller;
    color: #444;
}